$body-font-family: "IBM Plex Sans", sans-serif;
$header-font-family: "Space Grotesk", sans-serif;

$sidebar-color: #f5f3ff;
$nav-link-color: #64748b; 
$nav-link-color-active: #7c3aed; 
$link-color: #7c3aed;   
$body-background-color: #ffffff; 
