$body-font-family: "IBM Plex Sans", sans-serif;
$header-font-family: "Space Grotesk", sans-serif;

$sidebar-color: #f1f5f9; 
$nav-link-color: #64748b; 
$nav-link-color-active: #0284c7; 
$link-color: #0284c7; 
$body-background-color: #ffffff; 
